/*afbeeldingen */
/* Standaard verborgen modal */
.modal {
  display: none;
  position: fixed;
  top: 50px;
  margin-left: 0px;
  width: 100%;
  height: 90%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* Wanneer een modal getarget wordt, wordt deze zichtbaar */
.modal:target {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
}

/* De inhoud van de modal */
.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

/* Afbeelding styling */
.modal-content img {
  max-width: 90%;
  min-width: 300px;
  height: auto;
}

/* Sluitknop */
.close {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
}
