/* Knop naar extern leaderboard */
.container {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0px;
  padding: 30px 60px;
  background-color: #00aaad;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.button:hover {
  background-color: #046567;
}
