@import url("banner.css");
@import url("spelregels.css");
@import url("spelersnamen.css");
@import url("tabel.css");
@import url("leaderbord-knop.css");
@import url("afb-golfbanen.css");

/*Algemene opmaak voor de body*/
.body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
