/*Algemene opmaak voor de tabel en invoervelden*/
table {
  margin-top: 50px;
  padding: 0px;
  width: 80%;
  border-collapse: collapse;
}

tbody {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

tr {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #253887;
  height: 50px;
}

th p {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  font-size: 24px;
}

/*Standaard invoerveld met zwart lettertype*/
input {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 19px;
}

/*Invoerveld met witte lettertype voor een donkere achtergrond*/
.witte-input {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 19px;
}

/*Maak invoerveld voor teamnaam vetgedrukt*/
.input_vetgedrukt {
  margin-top: 0;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #00aaad;
  border-radius: 10px;
  font-size: 22px;
  width: 90%;
}

/*Opmaak en het 'sticky' maken van de eerste rij*/
thead th {
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 2; /* Zorg ervoor dat de rij boven andere elementen blijft staan */
  border-bottom: 1px solid #253887;
  background-color: #fff;
  height: 40px;
  vertical-align: bottom;
  color: black !important;
  font-size: 28px;
}

/* ---------------------------------------------opmaak en 'sticky' voor de eerste drie kolommen*/
/* Hole kolom */
th:nth-child(1),
td:nth-child(1) {
  margin: 0px;
  padding: 0px;
  min-width: 40px;
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #a6caec;
  border: none;
  font-size: 22px;
}

/* Par kolom */
th:nth-child(2),
td:nth-child(2) {
  margin: 0px;
  padding: 0px;
  min-width: 40px;
  position: sticky;
  left: 40px;
  z-index: 1;
  background-color: #00aaad;
  border: none;
  color: #fff;
  font-size: 22px;
}

/* Handicap kolom */
th:nth-child(3),
td:nth-child(3) {
  margin: 0px;
  padding: 0px;
  min-width: 40px;
  position: sticky;
  left: 80px;
  z-index: 1;
  background-color: #156082;
  border: none;
  color: #fff;
  font-size: 22px;
}

/* ------------------------------------------------------------------------------------------------*/
/* Extra: Zorg dat de bovenste cellen in de sticky kolommen niet verdwijnen */
thead th:nth-child(1),
thead th:nth-child(2),
thead th:nth-child(3) {
  margin: 0px;
  padding: 0px;
  z-index: 3; /* Hoger dan beide de sticky kolommen en rij */
  background-color: #fff;
}

/* Geef rij TOTAL een andere achtergrondkleur */
tr:nth-child(10) {
  margin: 0px;
  padding: 0px;
  background-color: #453f89;
  color: #fff;
}

/* Zorg dat de 'sticky-cellen' in de TOTAL rij dezelfde kleur krijgen */
tr:nth-child(10) td:nth-child(-n + 3),
tr:nth-child(10) th:nth-child(-n + 3) {
  margin: 0px;
  padding: 0px;
  background-color: #453f89;
}
